@page
@model PinLock.UI.Pages.Admin.Index

@{
    ViewData["Title"] = "Dashboard";
    ViewData["Role"] = "Admin";

}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="text-center">
        <h1 class="display-4">Dashboard</h1>
        <h2 class="display-4">Welcome, @Model.User.Identity?.Name</h2>
    </div>
</div>
</body>
</html>